/* @import url('normalize.css'); */

@font-face {
  font-style: normal;
  font-weight: 700;
  
}
@font-face {
  font-style: normal;
  font-weight: 400;
  
}
@font-face {
  font-style: normal;
  font-weight: 800;

}

html,
body {
	margin: 0;
	padding: 0;
}

/* .container {
	position: relative;
	margin: 50px auto 30px;
	width: 700px;
	min-height: 700px;
} */

.footer {
	margin: 0 auto 50px;
	width: 700px;
}

.footer p {
	text-align: center;
	font-size: 12px;
}

.footer p a {
	color: #2fa4e7;
	text-decoration: none;
}

.footer p a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 24px;
}

#radio {
	height: 36px;
	text-align: right;
}

#radio span.title {
	margin-right: 5px;
	font-size: 13px;
}

#control {
	position: absolute;
	top: 95px;
	left: 15px;
	width: 24px;
	padding: 4px;
}

#control button:first-child {
	margin-bottom: 4px;
}

#map {
	margin-left:150px;
	border-radius:50px;
	/* border: 1px solid #ddd; */
	
}

.background {				/*�� ���� */
  fill: #cae5f9 /* #EEF4F2 */;
  pointer-events: all;
}
#map:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 
      inset 0 0 50px #fff /* ���� ��� �� */,
      inset 0 0 50px #fff,
      inset 0 0 50px #fff,
      inset 0 0 50px #fff;
}

.ui-button-text-only .ui-button-text {
	padding: .2em .8em;
	font-size: 12px;
}

button.ui-button-icon-only {
	width: 24px;
}

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: 0;
}

#states path {			/*�� ��� 	 */
  fill: #f0ebe0/* rgba(87, 133, 156, 0.5)  #F5EED2  #FFFAE5*/; /* #7e9cb2, #cedfed, #f7fcfd, #80A4BE rgba(128, 164, 190, 0.5), #57859C rgba(87, 133, 156, 0.5) */
  stroke: black;
  stroke-width: 0.2px;
}

#states path:hover {
  fill: #FFFAE5/* #CCDACD */;
}

#states .active {
  fill: orange;
}

#states path {
	cursor: pointer;
}

#states text {
	cursor: pointer;
	font-size: 12px;
}